<div class="ui inverted footer segment">
  <div class="ui stackable four column centered grid">
    <div class="ten wide computer seven wide tablet column">© Copyright 2011 - Asociación Cultural Freak's Party</div>
    <div class="two wide computer three wide tablet column"><a href="">Normas</a></div>
    <div class="two wide computer three wide tablet column"><a href="mailto:contacto@ficonlan.es">Contacto</a></div>
    <div class="two wide computer three wide tablet column"><a href="https://www.fic.udc.es/es/donde-estamos" target="_blank">Cómo llegar</a></div>
  </div>
</div>