<div class="row">
    <div class="ui middle align grid stackable container">
        <div class="sixteen wide column">
            <fol-menu event="FOL" logo="logo_fol.png" logo_mobile="minilogo.png" [activities]="activities"></fol-menu>
            <div class="ui divider hidden"></div>
            <div class="ui divider hidden"></div>
        </div>
        <div class="ui divider hidden"></div>
        <div class="sixteen wide column">
            <h2>
                {{event.description}}
            </h2>
        </div>
        <div class="twelve wide tablet ten wide computer column">
            <fol-news [news]="news"></fol-news>
        </div>
        <div class="four wide tablet six wide computer column">
            <fol-sponsors></fol-sponsors>
        </div>
    </div>
</div>
<div class="ui divider hidden"></div>
<fol-footer></fol-footer>