<div class="ui segments">
    <div class="ui segment">
		<div class="ui divided items" *ngIf="news">
			<div class="item" *ngFor="let new of news">
				<div class="image" *ngIf="new.image_url">
				<img src="{{new.image_url}}">
				</div>
				<div class="content">
				<a class="header">{{new.title}}</a>
				<div class="description">
					<p></p>
				</div>
				<div class="extra">
					<span *ngIf="new.creator">{{new.creator.name}}</span>
					<span *ngIf="new.reg_date_publish">{{new.reg_date_publish | date:'dd/MM/yyyy hh:mm'}}</span>
					<div class="ui right floated primary button">
						Ver más
						<i class="right chevron icon"></i>
					</div>
				</div>
				</div>
			</div>
		</div>
    </div>
    <div class="ui segment">
        <sui-pagination [collectionSize]="news.length"
                        [pageSize]="5"
						[hasNavigationLinks]="navigation"
						[maxSize]="10"
                        [hasEllipses]="ellipses"
                        [canRotate]="true">
        </sui-pagination>
    </div>
</div>