<div class="ui segments">
    <div class="ui segment">
		<div class="ui divided items" *ngIf="news">
			<div class="item" *ngFor="let new of selectedNews">
				<div class="image" *ngIf="new.image_url">
				<img src="{{new.image_url}}">
				</div>
				<div class="content">
					<a class="header">{{new.title}}</a>
					<div class="extra">
						<span *ngIf="new.creator">{{new.creator.name}}</span>
						<span *ngIf="new.reg_date_publish">{{new.reg_date_publish | date:'dd/MM/yyyy hh:mm'}}</span>
					</div>
					<div *ngIf="new.description" class="description">
						<p>{{new.description}}</p>
					</div>
					<div class="ui right floated button">
						Ver más
						<i class="right chevron icon"></i>
					</div>
				</div>
			</div>
		</div>
    </div>
    <div class="ui center aligned segment">
        <sui-pagination [collectionSize]="collectionSize"
                        [pageSize]="pageSize"
						[hasNavigationLinks]="navigation"
						[hasBoundaryLinks]="boundary"
						[maxSize]="maxSize"
						[hasEllipses]="ellipses"
						[canRotate]="true"
						[(page)]="selectedPage">
        </sui-pagination>
    </div>
</div>