<div class="ui segments">
    <div class="ui segment">
		<div class="ui relaxed items" *ngIf="news">
			<div class="item" *ngFor="let new of selectedNews">
				<div class="image" *ngIf="new.image_url">
					<img src="{{new.image_url}}">
				</div>
				<div class="content">
					<a class="header">{{new.title}}</a>
					<div class="extra">
						<span *ngIf="new.creator">
							<span class="ui label">
								<i class="user icon"></i>
								{{new.creator.name}}
							</span>
						</span>
						<span *ngIf="new.published_at">
							<span class="ui label">
								<i class="clock icon"></i>
								{{new.published_at | date:'dd/MM/yyyy hh:mm'}}
							</span>
						</span>
						<span *ngIf="new.priority">
							<span class="ui red label">
								Importante
							</span>
						</span>
					</div>
					<div *ngIf="new.summary" class="description">
						<p>{{new.summary}}</p>
					</div>
				</div>
			</div>
		</div>
    </div>
    <div class="ui center aligned segment">
        <sui-pagination [collectionSize]="collectionSize"
                        [pageSize]="pageSize"
						[hasNavigationLinks]="navigation"
						[hasBoundaryLinks]="boundary"
						[maxSize]="maxSize"
						[hasEllipses]="ellipses"
						[canRotate]="true"
						[(page)]="selectedPage">
        </sui-pagination>
    </div>
</div>