<div class="ui fixed labeled icon inverted menu">
    <a class="header item computer only">
        <img src="assets/logos/{{logo}}" />
    </a>
    <a class="header item mobile only">
        <img src="assets/logos/{{logo_mobile}}" />
    </a>
    <a class="item" href="#">
        <i class="calendar icon"></i>
        <span>Actividades</span>
    </a>
    <a class="item" href="http://foro.ficonlan.es" target="_blank">
        <i class="bomb icon"></i>
        <span>Foro</span>
    </a>
    <div class="right menu">
        <a class="item">
            <i class="user circle outline icon"></i>
            <span>Cuenta</span>
        </a>
    </div>
</div>